.BtnComponent {
	color: white;
	border: none;
	width: 120px;
	margin: 5px 5px 5px 10px;
	height: 25px;
	border-radius: 5px;

	&:hover {
		cursor: pointer;
	}
}
.Green {
	background-color: #83cd77 !important;
}

.Red {
	background-color: rgba(255, 0, 0, 0.69) !important;
}

.Grey {
	background-color: #bcb9ac;
}
